
@{
    ViewData["Title"] = "Index";
}

<h1>MyBudgetApp</h1>
<article>
    <p>Application was created in 2021/12. That simple app shows my knowledge of</p>
    <ul>
        <li>ASP.NET</li>
        <li>MVC pattern</li>
        <li>C#</li>
        <li>SQL</li>
        <li>HTML</li>
        <li>CSS etc.</li>
    </ul>
    <p>
        The App is connected with a database. In the database, there are two tables (Expenses and Categories).<br>
        App provides all of CRUD tools.
    </p>
</article>

